.bundle

# jeweler generated
pkg

.DS_Store
.ruby-version
spec/.straight/default_last_keychain_id
spec/.straight/second_gateway_last_keychain_id
spec/.straight/straight.db

benchmark/straight.db
bin/goliath.log*
